.order-item{
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    gap:30px;
    border: 1px solid orangered;
    border-radius: 10px;
    margin: 30px 0;
    font-size: 14px;
    color: #505050;
}

.order-item-food{
    font-weight: 600;
}

.order-item-name{
    font-weight: 600;
    color: orangered;
    margin-top: 20px;
    margin-bottom: 5px;
}

.order-item-address{
    margin-bottom: 10px;
}

.order-item-phone{
    font-weight: 600;
}

.order-item-phone span{
    font-weight: 700;
    color: orangered;
    font-size: 15px;   
}

.order-item select{
    background-color: #ffe8e4;
    border: 1px solid orangered;
    width: max(10vw,120px);
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

@media (max-width:1000px) {
    .order-item{
        font-size: 12px;
        padding: 15px 8px;
        grid-template-columns: 0.5fr 2fr 1fr;
    }

    .order-item select{
        padding: 5px;
        font-size: 12px;
    }

    .order-item img{
        width: 40px;
    }
}